@font-face {
  font-family: "Infynyte Dysplay";
  src: url("/fonts/Infynyte-Dysplay.woff2") format("woff2"),
    url("/fonts/Infynyte-Dysplay.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Infynyte Dysplay Sharp";
  src: url("/fonts/Infynyte-DysplaySharp.woff2") format("woff2"),
    url("/fonts/Infynyte-DysplaySharp.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
