@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/variables.scss" as vars;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Infynyte Dysplay", Inter, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Experience

#experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  #experience-canvas {
    width: 100%;
    height: 100%;
  }
}

//Modals
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 700px;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 9999;
  display: none;
  background: vars.$base-grey;
}

.loading-screen {
  position: fixed;
  top: -4vh;
  left: -4vw;
  width: 108vw;
  height: 108vh;
  //margin-top: -54vw;
  //margin-left: -54vh;
  overflow: hidden;
  background: vars.$Loading-screen-red;
  border: 8px solid vars.$base-grey;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 1 !important;
  transform: perspective(1000px);
  border-radius: 48px;
}

.loading-screen-button {
  font-size: 42px;
  padding: 10px 40px;
  border: none;
  border-radius: 1.2rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
